@import "variable"; 

.container {
  width: 1140px;
}
%heading {
  color: $heading;
  font-size: 28px;
  font-weight: 700;
  line-height: 26px;
}
// button
%button-orange {
  background: $orange;
  border-radius: 50px;
  color: $white;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
%button-white {
  background: $white;
  border: 1px solid $orange;
  border-radius: 50px;
  color: $orange;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
// form input
%input-block {
  width: 356px;
  height: 52px;
  background: $form-input-grey;
  border-radius: 0px 0px 4px 4px;
  margin-top: 32px;
  position: relative;
}
%input-bottom {
  width: 356px;
  height: 2px;
  background: $form-input-border;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  bottom: 0;
}
%form-label {
  color: $form-label;
  font-size: 14px;
  line-height: 22px;
  padding: 2px 10.6px 0 10.6px;
}
%form-input {
  font-size: 16px;
  line-height: 26px;
  color: $form-input;
  padding: 0 10.6px 2px 10.6px;
}
%single-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
// tweet list
%tweet-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: $font-black;
}
%tweet-account {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $font-small;
}
%tweet-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $font-black;
}
// scrollbar
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
