$orange: #FF6600;
$id-grey: #92929D;
$font-black: #171725;
$font-small: #6C757D;
$heading: #1C1C1C;
$white: #FFFFFF;
$form-input-grey: #F5F8FA;
$form-input-border: #657786;
$form-label: #696974;
$form-input-placeholder: #B5B5BE;
$form-input: #171725;
$form-link-blue: #0062FF;

// 字體
$main-font: Noto Sans TC;
$number-font: Montserrat;
